/* src/css/custom.css */

:root {
  --ifm-color-primary: #0066cc;
  --ifm-color-primary-dark: #005cb8;
  --ifm-color-primary-darker: #0057ad;
  --ifm-color-primary-darkest: #00478f;
  --ifm-color-primary-light: #0070e0;
  --ifm-color-primary-lighter: #0075eb;
  --ifm-color-primary-lightest: #0a85ff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability in dark mode */
html[data-theme='dark'] {
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* APlayer custom styles */
.aplayer {
  z-index: 9999; /* Ensure APlayer is on top */
}

